<div id="content">
  <div id="popular">
    <h3>is <span class="site"><%= @site.url %></span></h3>
  </div>
  <h3>the stats</h3>
    <table id="stat">
      
      <%  require 'rubygems'
          require 'nokogiri'
          require 'open-uri'

      html_source = @site.url
      doc = Nokogiri::HTML(open(html_source))
      puts doc.xpath(".//@href") %>
	</table>
</div>
<p class="links"><%= link_to "back", root_path %></p>
